<% post.comments.each do |comment| %>
  <div class="mb-2">
    <% if comment.user == current_user  %>
      <%= link_to "Delete comment", comment_path(comment), method: :delete, remote: true, class: "core-sprite-en delete-comment hide-text" %>
    <% end %>
    <span><strong><%= comment.user.name %></strong></span>
    <span class="mb-2"><%= comment.content %></span>
  </div>
<% end %>
