
<% eng = :en %>
<% jap = :ja %>
<% if I18n.locale == jap %>
    <p>こんにちは<%= @resource.name %>、</p>

    <p>パスワードを変更するためのリンクをリクエストしました。 以下のリンクからこれを行うことができます。</p>

    <p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>これをリクエストしなかった場合は、このメールを無視してください。</p>
    <p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
<% elsif I18n.locale == eng %>
    <p>Hello <%= @resource.name %>,</p>

    <p>You have requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
<% end %>
